[submodule "components/polymer"]
	path = components/polymer
	url = git@github.com:Polymer/polymer.git
[submodule "components/webcomponentsjs"]
	path = components/webcomponentsjs
	url = git@github.com:webcomponents/webcomponentsjs.git
