<link rel="import" href="../../components/polymer/polymer.html">
<polymer-element name="date-input">
  <template>
    <style>
      :host {
	display: inline-block;
        min-width: 140px;
        min-height: 24px;
        max-height: 24px;
        overflow: hidden;
        overflow-y: hidden;
        border: solid 1px rgb(177, 178, 177);
      }

      div#date-container {
        width: 100%;
        height: 100%;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0px;
        padding: 2px;
        background-color: white;
      }

      div#date-container div {
        margin: 0px;
        border: 0px;
        padding: 0px;
      }

      div#date-container span {
        margin: 0px;
        border: 0px;
        padding: 0px;
      }

      div#date-container div#date-edit {
        height: 20px;
        flex: 1 0 80px;
      }

      div#date-container div#date-control {
        height: 20px;
        flex: 0 0 50px;
      }

      div#date-container div#date-control div {
        display: inline;
      }

      span {
        outline: none;
        font-size: 13px;
        font-family: monospace;
      }

      span:focus {
        background-color: rgb(162, 204, 255);
      }

      svg {
        margin: 0;
      }

      div#date-container svg {
        fill: white;
      }

      :host(:hover) div#date-control svg {
        fill: black;
      }

      :host(:focus) div#date-control svg {
        fill: black;
      }

      div#date-container div#date-clear svg {
        fill: white;
      }

      :host(:hover) div#date-container.dirty div#date-clear svg {
        fill: rgb(188, 188, 188);
      }

      :host(:focus) div#date-container.dirty div#date-clear svg {
        fill: rgb(188, 188, 188);
      }

      div#date-container div#date-control div#date-spin {
        display: inline-flex;
        flex-direction: column;
        min-width: 8px;
        height: 12px;
      }

      div#date-container div#date-spin > svg {
        flex: 0 0 7px;
      }

      div#date-spin svg:hover {
        background-color: rgb(234, 234, 234);
      }

      div#date-picker-dropdown svg:hover {
        background-color: rgb(234, 234, 234);
      }
    </style>
    <div id="date-container">
       <div id="date-edit">
         <span id="date-edit-content"><span tabindex="0"
           id = "mm" data-month>mm</span>/<span tabindex="0"
           id = "dd" data-day>dd</span>/<span tabindex="0"
           id = "yy" data-year>yyyy</span></span>
       </div>
       <div id="date-control">
         <div id="date-clear">
           <svg  width="12" height="12">
           <circle cx="6.5" cy="6.5" r="5.5"/>
           <path d="M4.5,4.5L8.5,8.5" stroke="white"/>
           <path d="M8.5,4.5L4.5,8.5" stroke="white"/>
           </svg>
         </div>
         <div id="date-spin">
             <svg width="7" height="6" id="spin-up">
               <path d="M1,6H7L4,1"/>
             </svg>
             <svg width="7" height="6" id="spin-down">
               <path d="M1,1H7L4,6"/>
             </svg>
         </div>
         <div id="date-picker-dropdown">
           <svg width="12" height="10">
           <path d="M2,1H10L6,8"/>
           </svg>
         </div>
       </div>
    </div>
  </template>
  <script>
    "use strict";
    Polymer('date-input', {
      year: -1,
      month: -1,
      day: -1,
      dirty: false,

      created: function() {
        if (!this.hasAttribute('tabindex'))
          this.tabIndex = 0;
        this.tabStop = false;
      },

      attached: function() {
        var di = this;
        var r = di.shadowRoot;

        // Y/M/D fields
        this.addEventListener('keydown', function(e) {
          if (e.keyCode == 9)
            return;
          var newVal = this.handleKey(e);
          e.preventDefault();
        }, false);

        // Clear button
        var cl = r.querySelector('#date-clear');
        if (cl) {
          cl.addEventListener('click', function() {
            di.year = -1;
            di.month = -1;
            di.day = -1;
            di.dirty = false;
            di.updateView();
          }, false);
        }

        // Spin button
        var su = r.querySelector('#spin-up');
        var sd = r.querySelector('#spin-down');
        su.addEventListener('click', function(e) {
          var el = r.activeElement;
          var curVal = di.handleUpDown(el, 'up');
          di.setDateValue(el, curVal);
          di.dirty = true;
          di.updateView();
        }, false);
        sd.addEventListener('click', function() {
          var el = r.activeElement;
          var curVal = di.handleUpDown(el, 'down');
          di.setDateValue(el, curVal);
          di.dirty = true;
          di.updateView();
        }, false);

        // Drop down
        var dd = r.querySelector('#date-picker-dropdown');
        dd.addEventListener('click', function(e) {
          window.alert('not implemented');
        }, false);
      },

      handleKey: function(e) {
          var el = e.path[0];
          var key =  e.keyCode

          var target = el.id;
          var rangeMin = 0;
          var rangeMax = 0;
          var curVal = 0;

          switch (target) {
          case 'yy':
            rangeMin = 1;
            rangeMax = 275760;
            curVal = this.year;
            break;
          case 'mm':
            rangeMin = 1;
            rangeMax = 12;
            curVal = this.month;
            break;
          case 'dd':
            rangeMin = 1;
            rangeMax = 31;
            curVal = this.day;
            break;
          }

          if (key >= 48 && key <= 57) {
            // numeric (0-9)
            if (curVal < 0)
              curVal = key - 48;
            else
              curVal = curVal * 10 + key - 48;
            // Handle overflow
            if (curVal > rangeMax)
              curVal = rangeMax;
            else if (curVal >= 0 && curVal < rangeMin)
              curVal = rangeMin;
          } else {
	    switch (key) {
	    case 38: // up
              curVal = this.handleUpDown(el, 'up');
	      break;
	    case 40: // down
              curVal = this.handleUpDown(el, 'down');
	      break;
	    case 37: // left
              if (target != 'mm')
                this.moveFocus(el.previousElementSibling);
	      break;
	    case 39: // right
              if (target != 'yy')
                this.moveFocus(el.nextElementSibling);
	      break;
	    }
         }

         this.setDateValue(el, curVal);
	 this.updateView();
         return curVal;
      },

      setDateValue: function(el, val) {
        if (val < 0)
          return;
        this.dirty = true;
        switch (el.id) {
        case 'yy':
          this.year = val;
          break;
        case 'mm':
          this.month = val;
          break;
        case 'dd':
          this.day = val;
          break;
        }
      },

      handleUpDown: function(el, updown) {
        var target = el.id;
        var rangeMin = 0;
        var rangeMax = 0;
        var curVal = 0;

        switch (target) {
        case 'yy':
          rangeMin = 1;
          rangeMax = 275760;
          curVal = this.year;
          break;
        case 'mm':
          rangeMin = 1;
          rangeMax = 12;
          curVal = this.month;
          break;
        case 'dd':
          rangeMin = 1;
          rangeMax = 31;
          curVal = this.day;
          break;
        }

        if (updown == 'up') {
          if (curVal < 0) {
            switch (target) {
            case 'yy':
              curVal = new Date().getFullYear();
              break;
            case 'mm':
            case 'dd':
              curVal = rangeMin;
              break;
            }
          } else {
            curVal += 1;
          }
        } else if (updown == 'down') {
          if (curVal < 0) {
            switch (target) {
            case 'yy':
              curVal = new Date().getFullYear();
              break;
            case 'mm':
            case 'dd':
              curVal = rangeMax;
              break;
            }
          } else {
            curVal -= 1;
          }
        }

        // Handle overflow
        if (curVal > rangeMax)
          curVal = rangeMin;
        else if (curVal >= 0 && curVal < rangeMin)
          curVal = rangeMax;

        return curVal;
      },

      moveFocus: function(el) {
        window.setTimeout(function() { el.focus(); }, 10);
      },

      updateView: function() {
        var di = this;
        var r = di.shadowRoot;
        var y = r.querySelector('#yy');
        var m = r.querySelector('#mm');
        var d = r.querySelector('#dd');
        y.textContent = di.year < 0 ? 'yyyy' : di.year;
        m.textContent = di.month < 0 ? 'mm' : di.month;
        d.textContent = di.day < 0 ? 'dd' : di.day;
        if (di.dirty)
          r.querySelector('#date-container').classList.add('dirty');
        else
          r.querySelector('#date-container').classList.remove('dirty');
      }
    });
  </script>
</polymer-element>
